[manifest]
version = "1.0.0"
priority = 0

[vars]
zerpBlinkTrailenv = "rom.mods['zerp-More_Dash_Boons'].lovely_env"

[[patches]]
[patches.pattern]
target = "EnemyAILogic.lua"
pattern = '''
	elseif targetId == CurrentRun.Hero.ObjectId and CurrentRun.Hero.Invisible and CurrentRun.CurrentRoom.InvisTargetId then
		targetId = CurrentRun.CurrentRoom.InvisTargetId

		if aiData.CancelIfInvisTarget then
			targetId = nil
		end
'''
position = "after"
payload = '''
	elseif targetId == CurrentRun.Hero.ObjectId and CurrentRun.CurrentRoom["zerp-More_Dash_Boons" .. "InvisTargetTable"] ~= nil and 
		   CurrentRun.CurrentRoom["zerp-More_Dash_Boons" .. "InvisTargetTable"][enemy.ObjectId] ~= nil then
		targetId = CurrentRun.CurrentRoom["zerp-More_Dash_Boons" .. "InvisTargetTable"][enemy.ObjectId]
		if aiData.CancelIfInvisTarget then
			targetId = nil
		end
'''
match_indent = false
times = 1